

.main__container{
    position: absolute;
    
    width: 101%;
    height: 100%;
    /* clear: both; */
    /* overflow: visible; */
    
}
header{
    position: sticky;
    top: 0px;
    background-color: #007bff;
    width: 100%;
    height: 300px;
    z-index: 1;
    
}



.header__header{
    display: block;
    width: 100%;
    float: left;
    padding: 0px 0px;
    box-sizing: border-box;
   
}
.header__span{
    position: absolute;
    top: 45px;
    left: 60px;
    width: 100px;
}
.header__change{
    position: absolute;
    left: 240px;
    top: 96px;
    float: left;

}
.header__text{
    position: absolute;
    color: white;
    width: 750px;
    font-size: 4rem;
    top: 10px;
  
}
h3{
    font-size: 4rem;
}
.modal-title{
    font-size: 72px;
}
.modal-body{
    font-size: 48px;
}

.modal-xlg{
    width: 900px;
    left: -200px;
}
.modal-content{
    width: 900px;
}

.btn{
    font-size: 60px;
}
.aboutText{
    font-size: 3rem;
}
.quiz__numbers__question{
    font-size: 3rem;
    margin-bottom: 40px;
}
.quiz__radio__upp, .quiz__radio__down{
    font-size: 3rem;
}
.header__text--moveRight{
    animation: movingRight 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.02s;  
}

@keyframes movingRight {
    from {left: 0px;}
    to {left: 500px;}
}
.header__text--moveLeft{
    animation: movingLeft 0.5s;
    animation-fill-mode: forwards; 
}

@keyframes movingLeft {
    from {left: 500px;}
    to {left: 0px;}
}
.quiz__container{
   margin-top: 90px;
    margin-left: 170px;
    margin-right: 170px;
}

.sideNav__open{
    background-color: #007bff;
    border: 0;
    text-decoration: none;
    color: white;
    font-size: 126px;
    cursor:pointer;
    
}
.sideNav__open:active, .sideNav__open:hover{
    text-decoration: none;
}
.sideNav__open:focus{
     outline: 0;
    
}
.sideNav__open:focus{
     color: #a0ceff;      
}


.sidenav {
    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #007bff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 180px;
    
  }
  
  .sidenav a {
    padding: 24px 24px 24px 96px;
    text-decoration: none;
    font-size: 75px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
  }
  
  .sidenav a:hover {
    color: #ffffff;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 75px;
    font-size: 108px;
    margin-left: 150px;
  }

  .startQuiz__button, .wrongStart__button{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
  }

  .static__container{
      position: absolute;
      margin: 150px;
      
  }

  h4, .stat__values{
      font-family: 'Abel', sans-serif;
  }
  
  .stat__values{
     font-size: 4rem;
  }
  .aboutText{
      margin: 150px;
  }

  .quiz__button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 90px 90px 300px 0px;
      
  }

  .close > span{
    font-size: 72px;    
  }
 

  #not10Message{
      text-align: center;
  }

  .mds-radio {
    
    position: relative;
    padding-left: 90px;
    width: 60px;
    cursor: pointer;
    
}

.mds-radio__span {
    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    width: 72px;
    border: 6px solid;
    border-color: #00000089;
    border-radius: 50%;
}

.mds-radio__input {
    position: absolute;
    top: 9px;
    left: 15px;
    opacity: 0;
    cursor: pointer;
}


.mds-radio__input:checked ~ .mds-radio__span {
    background-color: #007bff;
    border-color: #007bff;
    height: 72px;
    width: 72px;
    transition-duration: .4s;
}



.mds-radio .mds-radio__input:checked ~ .mds-radio__innerSpan {
    position: absolute;
    top: 12px;
    left: 13px;
    width: 46px;
    height: 46px;
    border: 9px solid white;
    border-radius: 50%;

}

.mds-radio__input:focus + .mds-radio__span {
    border: 2px solid #007bff;
    
}